flows.json
[
  {
    "id": "tab_main",
    "type": "tab",
    "label": "BrazilAPI Demo",
    "disabled": false,
    "info": ""
  },
  {
    "id": "in_brokers",
    "type": "http in",
    "z": "tab_main",
    "name": "GET /brokers",
    "url": "/brokers",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 120,
    "wires": [
      [
        "req_brokers"
      ]
    ]
  },
  {
    "id": "req_brokers",
    "type": "http request",
    "z": "tab_main",
    "name": "BrasilAPI Corretoras",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://brasilapi.com.br/api/cvm/corretoras/v1",
    "persist": false,
    "authType": "",
    "x": 390,
    "y": 120,
    "wires": [
      [
        "fn_brokers"
      ]
    ]
  },
  {
    "id": "fn_brokers",
    "type": "function",
    "z": "tab_main",
    "name": "Formatar lista",
    "func": "if (!Array.isArray(msg.payload)) {\n    node.error('Resposta inesperada da API de corretoras');\n    return [null, {payload: {erro: true}}];\n}\nmsg.payload = msg.payload.map(b => `${b.nome_social} - ${b.municipio} / ${b.cnpj}`);\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 120,
    "wires": [
      [
        "tpl_brokers"
      ],
      [
        "res_json_error"
      ]
    ]
  },
  {
    "id": "tpl_brokers",
    "type": "template",
    "z": "tab_main",
    "name": "HTML",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<!doctype html>\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <title>Broker Catalog</title>\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css\">\n  </head>\n  <body class=\"container py-4\">\n    <h2 class=\"mb-3\">Broker Catalog</h2>\n    <ul class=\"list-group\">\n      {{#payload}}\n        <li class=\"list-group-item\">{{.}}</li>\n      {{/payload}}\n    </ul>\n  </body>\n</html>",
    "output": "str",
    "x": 820,
    "y": 120,
    "wires": [
      [
        "res_html_brokers"
      ]
    ]
  },
  {
    "id": "res_html_brokers",
    "type": "http response",
    "z": "tab_main",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1040,
    "y": 120,
    "wires": []
  },
  {
    "id": "res_json_error",
    "type": "http response",
    "z": "tab_main",
    "name": "Erro JSON",
    "statusCode": "500",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 840,
    "y": 160,
    "wires": []
  },
  {
    "id": "in_cep",
    "type": "http in",
    "z": "tab_main",
    "name": "GET /cep/:cep",
    "url": "/cep/:cep",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 260,
    "wires": [
      [
        "fn_buildurl"
      ]
    ]
  },
  {
    "id": "fn_buildurl",
    "type": "function",
    "z": "tab_main",
    "name": "Montar URL BrasilAPI",
    "func": "const cep = (msg.req && msg.req.params && msg.req.params.cep || '').replace(/\\D/g,'');\nif (!cep) {\n    msg.statusCode = 400;\n    return [null, {payload: {erro: 'CEP inválido'}}];\n}\nmsg.url = `https://brasilapi.com.br/api/cep/v2/${cep}`;\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 260,
    "wires": [
      [
        "req_cep"
      ],
      [
        "res_json_error2"
      ]
    ]
  },
  {
    "id": "req_cep",
    "type": "http request",
    "z": "tab_main",
    "name": "BrasilAPI CEP",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "persist": false,
    "authType": "",
    "x": 660,
    "y": 260,
    "wires": [
      [
        "tpl_cep"
      ]
    ]
  },
  {
    "id": "tpl_cep",
    "type": "template",
    "z": "tab_main",
    "name": "HTML CEP",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<!doctype html>\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <title>CEP {{payload.cep}}</title>\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css\">\n  </head>\n  <body class=\"container py-4\">\n    <h2>CEP {{payload.cep}}</h2>\n    <div class=\"card p-3\">\n      <p><b>Rua:</b> {{payload.street}}</p>\n      <p><b>Bairro:</b> {{payload.neighborhood}}</p>\n      <p><b>Cidade:</b> {{payload.city}}</p>\n      <p><b>Estado:</b> {{payload.state}}</p>\n    </div>\n  </body>\n</html>",
    "output": "str",
    "x": 860,
    "y": 260,
    "wires": [
      [
        "res_html_cep"
      ]
    ]
  },
  {
    "id": "res_html_cep",
    "type": "http response",
    "z": "tab_main",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 1080,
    "y": 260,
    "wires": []
  },
  {
    "id": "res_json_error2",
    "type": "http response",
    "z": "tab_main",
    "name": "Erro CEP",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 660,
    "y": 300,
    "wires": []
  },
  {
    "id": "in_cep_form",
    "type": "http in",
    "z": "tab_main",
    "name": "GET /cep",
    "url": "/cep",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 360,
    "wires": [
      [
        "tpl_form"
      ]
    ]
  },
  {
    "id": "tpl_form",
    "type": "template",
    "z": "tab_main",
    "name": "Form CEP (GET)",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<!doctype html>\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <title>Buscar CEP</title>\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css\">\n  </head>\n  <body class=\"container py-5\">\n    <h2 class=\"mb-3\">Buscar CEP</h2>\n    <form action=\"/cep\" method=\"get\" class=\"row g-3\">\n      <div class=\"col-auto\">\n        <input class=\"form-control\" type=\"text\" name=\"cep\" placeholder=\"Digite o CEP\" />\n      </div>\n      <div class=\"col-auto\">\n        <button class=\"btn btn-primary\" type=\"submit\">Buscar</button>\n      </div>\n    </form>\n    {{#payload}}\n    <div class=\"mt-4\">\n      <pre>{{{payload}}}</pre>\n    </div>\n    {{/payload}}\n  </body>\n</html>",
    "output": "str",
    "x": 360,
    "y": 360,
    "wires": [
      [
        "res_html_form"
      ]
    ]
  },
  {
    "id": "res_html_form",
    "type": "http response",
    "z": "tab_main",
    "name": "Responder Form",
    "statusCode": "",
    "headers": {},
    "x": 560,
    "y": 360,
    "wires": []
  },
  {
    "id": "in_cep_query",
    "type": "http in",
    "z": "tab_main",
    "name": "GET /cep?cep=",
    "url": "/cep",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 420,
    "wires": [
      [
        "fn_query_to_api"
      ]
    ]
  },
  {
    "id": "fn_query_to_api",
    "type": "function",
    "z": "tab_main",
    "name": "Ler query ?cep=...",
    "func": "const cep = (msg.req && msg.req.query && msg.req.query.cep || '').replace(/\\D/g,'');\nif (!cep) {\n    msg.statusCode = 400;\n    msg.payload = {erro: 'Informe o parâmetro ?cep= na URL'};\n    return [null, msg];\n}\nmsg.url = `https://brasilapi.com.br/api/cep/v2/${cep}`;\nreturn [msg, null];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 420,
    "wires": [
      [
        "req_cep2"
      ],
      [
        "res_json_error3"
      ]
    ]
  },
  {
    "id": "req_cep2",
    "type": "http request",
    "z": "tab_main",
    "name": "BrasilAPI CEP (Query)",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "persist": false,
    "authType": "",
    "x": 640,
    "y": 420,
    "wires": [
      [
        "tpl_cep"
      ]
    ]
  },
  {
    "id": "res_json_error3",
    "type": "http response",
    "z": "tab_main",
    "name": "Erro CEP (Query)",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 630,
    "y": 460,
    "wires": []
  }
]